interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/12.0.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"japanwest","tags":{"product":"azurecli","cause":"automation","date":"2020-12-18T07:10:42Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"japanwest","tags":{"product":"azurecli","cause":"automation","date":"2020-12-10T22:26:08Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> trying to filter
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"japanwest","tags":{"product":"azurecli","cause":"automation","date":"2020-10-15T20:27:07Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> removing more yaml
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 18 Dec 2020 07:10:45 GMT
=======
      - Thu, 10 Dec 2020 22:26:10 GMT
>>>>>>> trying to filter
=======
      - Thu, 15 Oct 2020 20:27:11 GMT
>>>>>>> removing more yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "win-log000003", "type": "Microsoft.Web/serverfarms", "location":
      "japanwest", "properties": {"skuName": "B1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2019-08-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 18 Dec 2020 07:10:46 GMT
=======
      - Thu, 10 Dec 2020 22:26:11 GMT
>>>>>>> trying to filter
=======
      - Thu, 15 Oct 2020 20:27:12 GMT
>>>>>>> removing more yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "japanwest", "properties": {"perSiteScaling": false, "isXenon":
      false}, "sku": {"name": "B1", "tier": "BASIC", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/win-log000003?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/win-log000003","name":"win-log000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"Japan
<<<<<<< HEAD
<<<<<<< HEAD
        West","properties":{"serverFarmId":17862,"name":"win-log000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-JapanWestwebspace","subscription":"a1bfa635-f2bf-42f1-86b5-848c674fc321","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":3,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"Japan
        West","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-os1-013_17862","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"azBalancing":false},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
=======
        West","properties":{"serverFarmId":17403,"name":"win-log000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-JapanWestwebspace","subscription":"cd8e0c02-3a22-4a19-8a6a-46e9e4e5cb86","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":3,"planName":[...]
[...]
- request:
    body: '{"name": "webapp-win-log000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 18 Dec 2020 07:11:04 GMT
=======
      - Thu, 10 Dec 2020 22:26:26 GMT
>>>>>>> trying to filter
=======
      - Thu, 15 Oct 2020 20:27:28 GMT
>>>>>>> removing more yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "Japan West", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/win-log000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14.1"}],
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002","name":"webapp-win-log000002","type":"Microsoft.Web/sites","kind":"app","location":"Japan
<<<<<<< HEAD
<<<<<<< HEAD
        West","properties":{"name":"webapp-win-log000002","state":"Running","hostNames":["webapp-win-log000002.azurewebsites.net"],"webSpace":"clitest.rg000001-JapanWestwebspace","selfLink":"https://waws-prod-os1-013.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-JapanWestwebspace/sites/webapp-win-log000002","repositorySiteName":"webapp-win-log000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["webapp-win-log000002.azurewebsites.net","webapp-win-log000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-win-log000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-win-log000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/win-log000003","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2020-12-18T07:11:12.13","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"webapp-win-log000002","trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"791C12A9B7564BDD83C23CEF5EA8E002242DB1A65862E04568A4C936DEA5A769","kind":"app","inboundIpAddress":"40.74.100.129","possibleInboundIpAddresses":"40.74.100.129","ftpUsername":"webapp-win-log000002\\$webapp-win-log000002","ftpsHostName":"ftps://waws-prod-os1-013.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.74.100.129,40.74.85.64,40.74.126.115,40.74.125.67,40.74.128.17","possibleOutboundIpAddresses":"40.74.100.129,40.74.85.64,40.74.126.115,40.74.125.67,40.74.128.17,40.74.127.201,40.74.128.130,23.100.108.106,40.74.128.122,40.74.128.53","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-os1-013","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"webapp-win-log000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null}}'
=======
        West","properties":{"name":"webapp-win-log000002","state":"Running","hostNames":["webapp-win-log000002.azurewebsites.net"],"webSpace":"clitest.rg000001-JapanWestwebspace","selfLink":"https://waws-prod-os1-013.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-JapanWestwebspace/sites/webapp-win-log000002","repositorySiteName":"webapp-win-log000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-[...]
- request:
    body: '{"kind": "app", "properties": {"CURRENT_STACK": "node"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/config/metadata?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/config/metadata","name":"metadata","type":"Microsoft.Web/sites/config","location":"Japan
        West","properties":{"CURRENT_STACK":"node"}}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 18 Dec 2020 07:11:33 GMT
      etag:
      - '"1D6D50D046D3A4B"'
=======
      - Thu, 10 Dec 2020 22:26:52 GMT
      etag:
      - '"1D6CF438EEB85CB"'
>>>>>>> trying to filter
=======
      - Thu, 15 Oct 2020 20:27:56 GMT
      etag:
      - '"1D6A331AA77A0E0"'
>>>>>>> removing more yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
<<<<<<< HEAD
      - '1196'
=======
      - '1198'
>>>>>>> trying to filter
=======
      - '1199'
>>>>>>> removing more yaml
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"repoUrl": "https://github.com/yugangw-msft/azure-site-test.git",
      "branch": "master", "isManualIntegration": true, "isMercurial": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/sourcecontrols/web?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/sourcecontrols/web","name":"webapp-win-log000002","type":"Microsoft.Web/sites/sourcecontrols","location":"Japan
        West","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress"}}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 18 Dec 2020 07:11:44 GMT
      etag:
      - '"1D6D50D0B5124CB"'
=======
      - Thu, 10 Dec 2020 22:27:02 GMT
      etag:
      - '"1D6CF4395611115"'
>>>>>>> trying to filter
=======
      - Thu, 15 Oct 2020 20:28:06 GMT
      etag:
      - '"1D6A331B099C200"'
>>>>>>> removing more yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-powered-by:
      - ASP.NET
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/sourcecontrols/web?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/sourcecontrols/web","name":"webapp-win-log000002","type":"Microsoft.Web/sites/sourcecontrols","location":"Japan
        West","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2020-10-15T20:28:41.1756734
        https://webapp-win-log000002.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2020-10-15_20-28-17Z"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D6A331B099C200"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
>>>>>>> removing more yaml
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/sourcecontrols/web?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/sourcecontrols/web","name":"webapp-win-log000002","type":"Microsoft.Web/sites/sourcecontrols","location":"Japan
<<<<<<< HEAD
<<<<<<< HEAD
        West","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2020-12-18T07:12:18.2795444
        https://webapp-win-log000002.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2020-12-18_07-11-54Z","gitHubActionConfiguration":null}}'
=======
        West","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2020-12-10T22:27:28.3387186
        https://webapp-win-log000002.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2020-12-10_22-27-14Z","gitHubActionConfiguration":null}}'
>>>>>>> trying to filter
[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/publishxml?api-version=2019-08-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-win-log000002 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="webapp-win-log000002.scm.azurewebsites.net:443"
<<<<<<< HEAD
<<<<<<< HEAD
        msdeploySite="webapp-win-log000002" userName="$webapp-win-log000002" userPWD="rJWTtkfbGC06QiqcT60pdQcozz0Z0PgGvcTZc7w0RNZwli7envqqdGKiJY5C"
=======
        msdeploySite="webapp-win-log000002" userName="$webapp-win-log000002" userPWD="6kxAbWZS0PtLbzY8tC3KWc9Zz1jcLoTayi65LgyR6d1qWW6HAcP75xgG2Z7R"
>>>>>>> trying to filter
=======
        msdeploySite="webapp-win-log000002" userName="$webapp-win-log000002" userPWD="lLDbsguyx1pfJZhDs26rZxPs71bilYwio8Gl8lYSTprl4exM8RjMlEtFMzkD"
>>>>>>> removing more yaml
        destinationAppUrl="http://webapp-win-log000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="webapp-win-log000002
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-os1-011.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="webapp-win-log000002\$webapp-win-log000002"
<<<<<<< HEAD
<<<<<<< HEAD
        userPWD="rJWTtkfbGC06QiqcT60pdQcozz0Z0PgGvcTZc7w0RNZwli7envqqdGKiJY5C" destinationAppUrl="http://webapp-win-log000002.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionStrin[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.6 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.47.0 Azure-SDK-For-Python AZURECLI/2.13.0
>>>>>>> removing more yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/config/publishingcredentials/list?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webapp-win-log000002/publishingcredentials/$webapp-win-log000002","name":"webapp-win-log000002","type":"Microsoft.Web/sites/publishingcredentials","location":"Japan
<<<<<<< HEAD
<<<<<<< HEAD
        West","properties":{"name":null,"publishingUserName":"$webapp-win-log000002","publishingPassword":"rJWTtkfbGC06QiqcT60pdQcozz0Z0PgGvcTZc7w0RNZwli7envqqdGKiJY5C","publishingPasswordHash":null,"publishingPasswordHashSalt":null,"metadata":null,"isDeleted":false,"scmUri":"https://$webapp-win-log000002:rJWTtkfbGC06QiqcT60pdQcozz0Z0PgGvcTZc7w0RNZwli7envqqdGKiJY5C@webapp-win-log000002.scm.azurewebsites.net"}}'
=======
        West","properties":{"name":null,"publishingUserName":"$webapp-win-log000002","publishingPassword":"6kxAbWZS0PtLbzY8tC3KWc9Zz1jcLoTayi65LgyR6d1qWW6HAcP75xgG2Z7R","publishingPasswordHash":null,"publishingPasswordHashSalt":null,"metadata":null,"isDeleted":false,"scmUri":"https://$webapp-win-log000002:6kxAbWZS0PtLbzY8tC3KWc9Zz1jcLoTayi65LgyR6d1qWW[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://webapp-win-log000002.scm.azurewebsites.net/dump
  response:
    body:
      string: !!binary |
<<<<<<< HEAD
<<<<<<< HEAD
        UEsDBBQACAAIAI05klEAAAAAAAAAAAAAAAASAAAAZGVwbG95bWVudHMvYWN0aXZlDcGBDQAgCAOw
        l5CMyM7RZfx/grZSYz7mIQKyi2V3K5a1mciZG/sBUEsHCFX9O3cnAAAAKAAAAFBLAwQUAAgACACN
        OZJRAAAAAAAAAAAAAAAAPAAAAGRlcGxveW1lbnRzL2NjODRmZmZmOTJhOTQwNGNlZTU5NWVlODhj
        MDFlYzc5MjQyZmZiMDcvbG9nLmxvZ61ZXY7cxhF+T[...]
