interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2020-12-22T21:34:40Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2020-12-10T22:23:45Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> trying to filter
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2020-10-13T17:28:22Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> removing last yaml
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 22 Dec 2020 21:34:41 GMT
=======
      - Thu, 10 Dec 2020 22:23:46 GMT
>>>>>>> trying to filter
=======
      - Tue, 13 Oct 2020 17:28:25 GMT
>>>>>>> removing last yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "publicNetworkAccess": "Enabled", "networkRuleBypassOptions": "AzureServices"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc16 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc15 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc14 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest000003?api-version=2020-11-01-preview
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest000003","name":"webappacrtest000003","location":"eastus2","tags":{},"systemData":{"createdBy":"oladewal@microsoft.com","createdByType":"User","createdAt":"2020-12-22T21:34:42.948671+00:00","lastModifiedBy":"oladewal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-12-22T21:34:42.948671+00:00"},"properties":{"loginServer":"webappacrtest000003.azurecr.io","creationDate":"2020-12-22T21:34:42.948671Z","provisioningState":"Succeeded","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2020-12-22T21:34:43.9519732+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled"}}'
=======
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest000003","name":"webappacrtest000003","location":"eastus2","tags":{},"systemData":{"createdBy":"soingles@microsoft.com","createdByType":"User","createdAt":"2020-12-10T22:23:48.1602996+00:00","lastModifiedBy":"soingles@microso[...]
[...]
- request:
    body: '{"name": "acrtestplan000002", "type": "Microsoft.Web/serverfarms", "location":
      "eastus2", "properties": {"skuName": "S1", "needLinuxWorkers": true, "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2019-08-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 22 Dec 2020 21:34:44 GMT
=======
      - Thu, 10 Dec 2020 22:24:00 GMT
>>>>>>> trying to filter
=======
      - Tue, 13 Oct 2020 17:28:32 GMT
>>>>>>> removing last yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "properties": {"perSiteScaling": false, "reserved":
      true, "isXenon": false}, "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplan000002?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplan000002","name":"acrtestplan000002","type":"Microsoft.Web/serverfarms","kind":"linux","location":"East
<<<<<<< HEAD
<<<<<<< HEAD
        US 2","properties":{"serverFarmId":979,"name":"acrtestplan000002","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-EastUS2webspace","subscription":"c0fccd35-1ebc-42f1-bcc3-bfac994fd864","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US 2","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"clitest.rg000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bn1-083_979","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"azBalancing":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
=======
        US 2","properties":{"serverFarmId":6875,"name":"acrtestplan000002","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-EastUS2webspace","subscription":"cd8e0c02-3a22-4a19-8a6a-46e9e4e5cb86","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName[...]
[...]
- request:
    body: '{"name": "webappacrtest000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 22 Dec 2020 21:34:49 GMT
=======
      - Thu, 10 Dec 2020 22:24:14 GMT
>>>>>>> trying to filter
=======
      - Tue, 13 Oct 2020 17:28:46 GMT
>>>>>>> removing last yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "East US 2", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplan000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|10.14", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest000003?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest000003","name":"webappacrtest000003","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
<<<<<<< HEAD
<<<<<<< HEAD
        US 2","properties":{"name":"webappacrtest000003","state":"Running","hostNames":["webappacrtest000003.azurewebsites.net"],"webSpace":"clitest.rg000001-EastUS2webspace","selfLink":"https://waws-prod-bn1-083.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-EastUS2webspace/sites/webappacrtest000003","repositorySiteName":"webappacrtest000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["webappacrtest000003.azurewebsites.net","webappacrtest000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|10.14"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webappacrtest000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webappacrtest000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplan000002","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2020-12-22T21:34:51.5533333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"webappacrtest000003","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"A38F78FE9497D3B1770FCC3D46E5B2B4EF1E6ADB3FA0AE04A2004807BB91FB87","kind":"app,linux","inboundIpAddress":"20.49.97.5","possibleInboundIpAddresses":"20.49.97.5","ftpUsername":"webappacrtest000003\\$webappacrtest000003","ftpsHostName":"ftps://waws-prod-bn1-083.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.177.147.59,52.177.148.118,52.177.148.157,52.177.150.115,52.177.151.41,52.177.151.198","possibleOutboundIpAddresses":"52.177.147.59,52.177.148.118,52.177.148.157,52.177.150.115,52.177.151.41,52.177.151.198,52.179.216.30,20.44.85.0,52.179.216.127,52.179.217.206,52.179.218.22,52.179.218.185,52.179.221.10,52.179.223.3,52.179.223.106,52.179.223.139,52.184.218.56,52.184.220.64","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bn1-083","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"webappacrtest000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null}}'
=======
        US 2","properties":{"name":"webappacrtest000003","state":"Running","hostNames":["webappacrtest000003.azurewebsites.net"],"webSpace":"clitest.rg000001-EastUS2webspace","selfLink":"https://waws-prod-bn1-073.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-EastUS2webspace/sites/webappacrtest000003","repositorySiteName":"webappacrtest000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"en[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest000003/publishxml?api-version=2019-08-01
  response:
    body:
      string: <publishData><publishProfile profileName="webappacrtest000003 - Web
<<<<<<< HEAD
<<<<<<< HEAD
        Deploy" publishMethod="MSDeploy" publishUrl="webappacrtest000003.scm.azurewebsites.net:443"
        msdeploySite="webappacrtest000003" userName="$webappacrtest000003" userPWD="Z7skERqFPwDtgugfbMXAxpATDwzGeafShZ55mdsnQcpvETek92q9RhtNHPJA"
        destinationAppUrl="http://webappacrtest000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="webappacrtest000003
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bn1-083.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="webappacrtest000003\$webappacrtest000003"
        userPWD="Z7skERqFPwDtgugfbMXAxpATDwzGeafShZ55mdsnQcpvETek92q9RhtNHPJA" destinationAppUrl="http://webappacrtest000003.azurewebsites.net"
=======
        Deploy" publishMethod="MSDeploy" publishUrl="waws-prod-bn1-073.publish.azur[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc16 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc15 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc14 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest000003/listCredentials?api-version=2020-11-01-preview
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"username":"webappacrtest000003","passwords":[{"name":"password","value":"uKEX=vV+VN0ePWSg6J73/ygfw/53FBU="},{"name":"password2","value":"lKkso5nL+c44LlXNBg6FN9Le6TSuiHIm"}]}'
=======
      string: '{"username":"webappacrtest000003","passwords":[{"name":"password","value":"VlOEwYj7eqDHvNwTFoQzxT6vRpttiy=m"},{"name":"password2","value":"bJ=PGi7OYtw1OJD0sRNhkjKmPP4GMJoz"}]}'
>>>>>>> trying to filter
=======
      string: '{"username":"webappacrtest000003","passwords":[{"name":"password","value":"YUYGxPzvMcu=EMMmNnPAEiFrmEHXTAUv"},{"name":"password2","value":"ijZQu1K1tqUG/QeKIeIyCYIZKUYp1Swe"}]}'
>>>>>>> removing last yaml
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 22 Dec 2020 21:35:07 GMT
=======
      - Thu, 10 Dec 2020 22:24:39 GMT
>>>>>>> trying to filter
=======
      - Tue, 13 Oct 2020 17:29:08 GMT
>>>>>>> removing last yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc16 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc15 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc16 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-containerregistry/3.0.0rc15 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        [...]
- request:
    body: '{"kind": "<class ''str''>", "properties": {"DOCKER_REGISTRY_SERVER_URL":
      "https://webappacrtest000003.azurecr.io", "DOCKER_REGISTRY_SERVER_USERNAME":
<<<<<<< HEAD
<<<<<<< HEAD
      "webappacrtest000003", "DOCKER_REGISTRY_SERVER_PASSWORD": "uKEX=vV+VN0ePWSg6J73/ygfw/53FBU="}}'
=======
      "webappacrtest000003", "DOCKER_REGISTRY_SERVER_PASSWORD": "VlOEwYj7eqDHvNwTFoQzxT6vRpttiy=m"}}'
>>>>>>> trying to filter
=======
      "webappacrtest000003", "DOCKER_REGISTRY_SERVER_PASSWORD": "YUYGxPzvMcu=EMMmNnPAEiFrmEHXTAUv"}}'
>>>>>>> removing last yaml
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        [...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.12.1
>>>>>>> removing last yaml
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest000003/config/slotConfigNames?api-version=2019-08-01
  response:
    body:
      string: '{"id":null,"name":"webappacrtest000003","type":"Microsoft.Web/sites","location":"East
        US 2","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 22 Dec 2020 21:35:09 GMT
=======
      - Thu, 10 Dec 2020 22:24:43 GMT
>>>>>>> trying to filter
=======
      - Tue, 13 Oct 2020 17:29:11 GMT
>>>>>>> removing last yaml
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.14.1
>>>>>>> trying to filter
=======
      - python/3.6.4 (Darwin-19.6.0-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        [...]
[...]
- request:
    body: '{"kind": "<class ''str''>", "properties": {"DOCKER_REGISTRY_SERVER_URL":
      "https://webappacrtest000003.azurecr.io", "DOCKER_REGISTRY_SERVER_USERNAME":
<<<<<<< HEAD
<<<<<<< HEAD
      "webappacrtest000003", "DOCKER_REGISTRY_SERVER_PASSWORD": "uKEX=vV+VN0ePWSg6J73/ygfw/53FBU=",
=======
      "webappacrtest000003", "DOCKER_REGISTRY_SERVER_PASSWORD": "VlOEwYj7eqDHvNwTFoQzxT6vRpttiy=m",
>>>>>>> trying to filter
=======
      "webappacrtest000003", "DOCKER_REGISTRY_SERVER_PASSWORD": "YUYGxPzvMcu=EMMmNnPAEiFrmEHXTAUv",
>>>>>>> removing last yaml
      "WEBSITES_ENABLE_APP_SERVICE_STORAGE": "false"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-web/0.48.0 Azure-SDK-For-Python AZURECLI/2.16.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
[...]
